.blogdisplay {
  position: relative;
  --width: min(calc(100vw - 160px), 800px);
}


.blogdisplay .buttons {
  position: fixed;
  display: flex;
  top: 5px;
  left: 5px;
  z-index: 1;
}

.blogdisplay .buttons div {
  width: 45px;
  height: 45px;
  background: white;
  box-shadow: 0.3em 0.3em 0.7em rgba(0, 0, 0, 0.3);
  margin-right: 5px;
  border-radius: 5px;
  transition: background 0.2s;
  padding: 10px;
}
.blogdisplay .buttons div:hover {
  background: #e2e4e5;
}
.blogdisplay .buttons div svg {
  width: 100%;
  max-height: 25px;
}

.blogdisplay .content {
  padding: 75px;
  background-color: white;
  display: grid;
  justify-content: center;
  grid-template-columns: min(100vw, 800px);
}

.blogdisplay .content .title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 64px;
  font-weight: normal;
}

.blogdisplay .content .author {
  display: flex;
  font-size: 36px;
  font-weight: 200;
  margin-bottom: 5px;
  margin-top: 0px;
}

.blogdisplay .content .author .authortext {
  height: auto !important;
  font-size: 20px;
  margin-left: 20px;
  justify-content: left;
  width: 100%;
}

.blog-content p {
  font-size: 24px;
  font-weight: 300;
  margin-top: 0px;
}
.blog-content h1 {
  font-size: 48px;
  background: var(--red);
  color: white;
  padding: 30px 10px 10px 10px;
}
.blog-content h2 {
  font-size: 32px;
}
.blog-content h3 {
  font-size: 28px;
  color: var(--red);
  font-weight: bold;
  margin-bottom: 0px;
}
.blog-content li::marker {
  font-size: 24px;
  font-weight: 300;
}
.blog-content li {
  font-size: 24px;
  font-weight: 300;
}

.readmore h2 {
  padding-left: 75px;
  font-size: 36px;
  font-weight: bold;
  color: #A00C0C;
}

.readmore .container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.readmorecard {
  border-radius: 5px;
  background-color: gray;
  border-radius: 0px;
  height: 80px;
  margin-bottom: 20px;
}

.readmorecard:last-child {
  margin-bottom: 0;
}

.date-label{
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 150;
}

.blog-content img {
  object-fit: cover;
  width: var(--width);
}
.hero-image{
  width: var(--width);
  max-height: calc(var(--width) * 9 / 16);
}
