.articles {
  display: grid;
  grid-template-columns: 640px 640px;
  justify-content: center;
}

.hero-banner{
  background-image:
    linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.5) 100px, rgba(0,0,0,0.5) 100%),
    url("/public/hero_image.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
  padding: 100px 25vw 170px 10vw;
  position: relative;
}

.hero-banner h1{
  margin: 0;
  font-weight: 900;
  font-size: 84px;
  padding-bottom: 40px;
}
