.smallarticledisplaycontainer .imagecontainer {
  height: 240px;
  clip-path: inset(0 0 0 0 round 4px 4px 0px 0px);
 }

.smallarticledisplaycontainer {
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0.3em 0.3em 0.7em rgba(0, 0, 0, 0.3);
  position: relative;
}

.smallarticledisplaycontainer .textcontainer .tags {
  font-size: 13px;
  font-style: italic;
  color: gray;
}
 
.smallarticledisplaycontainer .textcontainer .title {
  font-size: 23px;
}

.smallarticledisplaycontainer .textcontainer {
  padding: 8px 24px 16px 24px;
}

.smallarticledisplaycontainer .dotdotdot {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  transition: background 0.2s;
  background: #fff3;
  padding: 5px;
  box-shadow: 0.3em 0.3em 0.7em rgba(0, 0, 0, 0.3);
}

.smallarticledisplaycontainer .dotdotdot:hover {
  background: #fff5;
}

.smallarticledisplaycontainer .dotdotdot.show {
  background: #ffff;
}

.smallarticledisplaycontainer .buttons {
  position: absolute;
  top: 5px;
  right: calc(5px * 2 + 45px);
  transition: opacity 0.2s;
  display: flex;
}
.smallarticledisplaycontainer .buttons.hide {
}

.smallarticledisplaycontainer .buttons div {
  height: 45px;
  width: 45px;
  margin-left: 5px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background: #f8f8f9;
  box-shadow: 0.3em 0.3em 0.7em rgba(0, 0, 0, 0.3);
  transform: translateX(0%);
  transition:
    background 0.2s,
    opacity calc(0.5s - var(--offset) * 0.1s) ease-in-out calc(var(--offset) * 0.1s),
    transform calc(0.5s - var(--offset) * 0.1s) ease-in-out calc(var(--offset) * 0.1s);
}
.smallarticledisplaycontainer .buttons div:hover {
  background: #d9d9de;
}
.smallarticledisplaycontainer .buttons.hide div {
  transform: translateX(-10%);
  opacity: 0
}

.smallarticledisplaycontainer .buttons div svg {
  max-height: 25px
}


