.middleSearchBar{
    font-size: large;
    background-color: #a00c0c;
    color: white;
    display: flex;
}

.bold{
    font-weight: bold;
}

.middleSearchBarTab{
    padding: 20px;
}

.middleSearchBarTab:not(:first-child){
    user-select: none;
    cursor: pointer;
}

.flexPad{
    flex-grow: 1;
}

.material-symbols-outlined.big{
    font-weight: 900;
    font-size: inherit;
    line-height: inherit;
}

.filterSelection{
    font-size: large;
    background-color: #a00c0c;
    color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.filterEntry{
    user-select: none;
    cursor: pointer;
    padding: 20px;
    text-align: center;
}

.minimized{
    height: 0px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 450px));
  justify-content: center;
}
.loadMoreArticlesButton{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: large;
    text-align: center;
    padding: 10px;
    color: 4F4F4F;
    text-decoration: underline;
    cursor: grab;
}
.noArticlesFoundNotice{
    font-size: xxx-large;
    padding: 200px 0px 200px 0px;
}
.center{
    display: flex;
    justify-content: center;
}
