.titlebar {
  box-sizing: border-box;
  background-color: #0C1115;
  color: white;
  height: 60px;
  padding: 0 20px 0 20px;
  position: sticky;
  z-index: 1;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titlebar .title {
  height: 50%;
}

.titlebar .title img{
  height: 100%;
}

.titlebar .nav {
  float: right;
  height: 100%;
}

.titlebar .nav div {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-left: 12px;
  background-color: #9E0E0E;
  font-size: 20px;
  border-radius: calc(40px / 2);
  box-sizing: border-box;
}

.titlebar .nav div svg {
  max-height: 20px;
  width: 100%;
}

.titlebar .nav input {
  height: 35px;
  border: none;
  background-color: #0C1115;
  border-bottom: 4px solid #5C6267;
  border-radius: 2px;
  transition: border-bottom 0.3s;
  color: white;
}

.titlebar .nav input:focus-visible {
  border: none;
  outline: none;
  border-bottom: 4px solid #9E0E0E;
}