footer.site-footer {
    font-size: 13px;
    background: #2f2f2f;
    padding: 60px 0 20px;
    color: #d5d5d5;
    border-top: 4px solid #fff;
    border-top-color: rgb(255, 255, 255);
    position: relative;
}

footer .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

footer .top-row {
    margin-left: -15px;
    margin-right: -15px;
} 

footer .clearfix {
    clear: both;
}
footer .clearfix::after {
  content: "";
  display: table;
}

footer .col-sm-5{
    margin-bottom: 30px;
}

footer .bottom-row {
    border-top: 5px solid #484848;
    padding-top: 30px;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    color: #d5d5d5;
}


footer .fa-icon{
    font-family: "FontAwesome";
    font-size: medium;
    font-size: medium;
}

footer .fa-icon.large{
    font-size: 24px;
}

footer .loginIcon{
    width: 24px;
}

footer .col-3-entry{
    margin-bottom: 30px;
}

footer .float-right {
    float:right;
}

footer .float-left {
    float:left;
}

footer .footer-nav {
    list-style: none;
}

footer .footer-nav > li {
    float: left;
    margin-left: 25px;
    font-size: 11px;
}

footer .copyright {
    color: #8b8c8d;
}

.footer-form-entry{
    height: auto;
    width: 100%;
    background: #2f2f2f;
    color: #d5d5d5;
    border: #ccc solid 1px;
    box-sizing: border-box;
    direction: ltr;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    overflow: clip;
    padding: 14px;
}

#footer-sign-up-button{
    width: 50%;
    height: auto;
    appearance: button;
    background-color: rgb(205, 33, 34);
    border: #d5d5d5 solid 1px;
    border-radius: 3px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 14.95px;
    overflow: clip;
    padding: 14px;
    transition: all 0.3s ease;
}

#footer-sign-up-button:hover{
    background-color: #fff;
    color: #000;
}

footer h3{
    margin: 0 0 10px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #fff;
    padding-bottom: 0;
}

footer .col-1, footer .col-2, footer .col-3{
    padding: 0 15px 0 15px;
    box-sizing: border-box;
}

/* Desktop-Specific */
@media (min-width: 768px){
    footer .container {
        width: 80%
    }
    footer .col-1, footer .col-2, footer .col-3{
        float: left;
    }
    footer .col-1{
        width: 41.66666667%;
    }
    footer .col-2{
        width: 33.33333333%;
    }
    footer .col-3{
        width: 25%;
    }
}