.settings-page-outer-wrapper {
    padding: 150px;
}
h1, h2 {
    font-weight: 600;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 40px;
}
.arrow {
    font-size: 42px;
    transform: translateY(10px);
    cursor: pointer;
}

.settings-page-list-edit-entry {
    padding-left: 20px;
    display: flex;
    width: 600px;
    justify-content: space-around;
    padding-bottom: 4px;
}

.settings-page-list-edit-entry > input,
.settings-page-input {
    outline: none;
    font: inherit;
    border: none;
    border-bottom: 1px solid var(--gray);
    padding: 0px;
    margin: 0px;
    width: 200px;
}

.settings-page-ctrl-btn {
    outline: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.flex-spacer {
    flex-grow: 1;
}

.settings-page-input-entry {
    display: flex;
    width: 400px;
}
.settings-page-input-entry *:first-child {
    width: 100px;
}

.settings-page-input-label {

}
